<!doctype html>
<html>
<head>
    <title>{{ project.name }}</title>
    <link rel="icon" href="{{ url_for('static', filename='thumb.svg') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/output.css') }}" rel="stylesheet">
</head>
<body class="font-inter">
    <div class="w-screen h-auto pt-5 pb-10 md:px-10 px-5">
        <!-- Hero Banner Images -->
        <div class="md:flex md:justify-between z-10">
            <a href="/">
                <img src="{{ url_for('static', filename='Name.svg') }}" 
                class="md:w-1/3" alt="">
            </a>
            <div class="flex gap-6 text-black items-center text-xl font-extrabold pt-5 md:pt-0">
                <a href="/#works"><span class="cursor-pointer hover:text-black/20">Works</span></a>
                <a href="/#contact"><span class="cursor-pointer hover:text-black/20">Contact</span></a>
                <a href="/#prologue"><span class="cursor-pointer hover:text-black/20">Prologue</span></a>
            </div>
        </div>
            
    </div>

    <div class="relative project-content w-screen px-5 md:px-8 pb-8">
        <img src="{{ url_for('data', filename=project.project_id + '/' + project.hero_image) }}" 
        class="w-full h-auto object-cover" alt="Project Image"/>
        <div class="grid grid-cols-1 md:grid-cols-2 py-16 items-start md:w-4/5 mx-auto">
            <div>
                <p class="font-bold text-5xl pb-5">{{ project.name }}</p>
                <p class="font-bold text-sm">Industry</p>
                <p class="text-sm pb-3">{{ project.industry }}</p>
                <p class="font-bold text-sm">What We Did</p>
                <p class="text-sm">{{ project.whatwedid }}</p>
                
                {% if project.roi1_number %}
                <div class="roi pt-20">
                    <p class="font-bold text-5xl">{{ project.roi1_number }}</p>
                    <p class="font-bold text-sm">{{ project.roi1_desc1 }}</p>
                    <p class="text-sm">{{ project.roi1_desc2 }}</p>
                </div>
                {% endif %}

                {% if project.roi2_number %}
                <div class="roi pt-20">
                    <p class="font-bold text-5xl">{{ project.roi2_number }}</p>
                    <p class="font-bold text-sm">{{ project.roi2_desc1 }}</p>
                    <p class="text-sm">{{ project.roi2_desc2 }}</p>
                </div>
                {% endif %}

                {% if project.roi3_number %}
                <div class="roi pt-20">
                    <p class="font-bold text-5xl">{{ project.roi3_number }}</p>
                    <p class="font-bold text-sm">{{ project.roi3_desc1 }}</p>
                    <p class="text-sm">{{ project.roi3_desc2 }}</p>
                </div>
                {% endif %}
            </div>
            <div class="pt-10 md:pt-0">
                <div class="relative">
                    <!-- Content -->
                    <div id="description-content"
                        class="overflow-hidden transition-[max-height] duration-500 ease-in-out max-h-40">

                        {% for heading, content in project.description %}
                            <p class="font-bold text-2xl">{{ heading }}</p>
                            <br>
                            <p class="whitespace-pre-line text-justify">{{ content }}</p>
                        {% endfor %}
                    </div>

                    <!-- Blur + Gradient overlay -->
                    <div id="fade-overlay"
                        class="absolute bottom-0 left-0 right-0 h-16
                                bg-gradient-to-t from-white to-transparent
                                pointer-events-none transition-opacity duration-300">
                    </div>

                </div>

                <button
                    onclick="toggleDescription()"
                    id="description-btn"
                    class="mt-4 font-semibold underline">
                    See more
                </button>

            </div>


        </div>
        {% for images in project.images %}
        <div class="grid {% if images|length == 2 %}grid-cols-2{% endif %} gap-5 pt-5 md:w-4/5 mx-auto">
            {% for image in images %}
            <img src="{{ url_for('data', filename=project.project_id + '/' + image) }}" 
            class="w-full h-full object-cover" alt="">
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="footer relative w-screen md:px-10 px-5 pt-10 pb-30 bg-black">
        <div class="grid grid-cols-1 md:grid-cols-3 text-white">
            <div class="col-span-1 md:col-span-2">
                <img src="{{ url_for('static', filename='Footer_logo.svg') }}" alt="Footer Logo">
                <p class="font-medium text-xs opacity-55 pt-10">2026 ® All rights reserved.</p>
            </div>
            <div class="opacity-0 md:opacity-100 col-span-1 md:col-span-1 pl-20 pt-5 font-semibold flex gap-10">
                <a href="/#works"><p class="hover:opacity-55 cursor-pointer">Works</p></a>
                <a href="/#contact"><p class="hover:opacity-55 cursor-pointer">Contact</p></a>
                <a href="/#prologue"><p class="hover:opacity-55 cursor-pointer">Prologue</p></a>
            </div>
        </div>
    </div>

<script>
let expanded = false

function toggleDescription() {
    const content = document.getElementById('description-content')
    const btn = document.getElementById('description-btn')
    const fade = document.getElementById('fade-overlay')

    if (!expanded) {
        content.style.maxHeight = content.scrollHeight + "px"
        btn.textContent = "See less"
        fade.style.opacity = "0"
    } else {
        content.style.maxHeight = "10rem"  // same as max-h-40
        btn.textContent = "See more"
        fade.style.opacity = "1"
    }

    expanded = !expanded
}
</script>


</body>
</html>